div.Main {
	margin-left: 8%;
    width: 60%;
    /*height: 1024px;*/
    float: left;
}

div.RightBar{
	margin-right: 8%;
	width: 22%; 
	margin-left: 2%; 
	/*height: 1024px;*/
	/*background-color: red;*/
	float: left;
}

div.Tab ul li{
	float: left;
}


div.node ul li{
	margin: 1px;
	list-style: none;
	float: left;
}

div.node ul li button{
	border-radius: 14px;
}

div.node ul{
	padding-left: 0px;
}

div.release ul li{
	color: #027fff;
	line-height: 30px;
	margin-left: 20px;
	list-style: none;
	float: left;
}

div.release ul{
	padding-left: 0px;
}


div.review ul li{
	list-style: none;
	float: right;
	padding-left: 10px;
}

