body.modal-open { 
  padding-right: 0 !important;
  overflow-y: scroll;
  border: 0px;
}

.modal-xss{
    width: 330px;
    margin-top: 15%;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 2px;
    vertical-align:middle;
}
.modal-content{
    border-radius: 2px;
}

div.login-content{
    line-height: 20px;
}

.custom-input{
    font-size: 15px;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 2px;
}

.logout{
    position: absolute;
    color: black;
}

.custom-input::-webkit-input-placeholder {
    color: #aab2bd;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.custom-input:focus{
    border:none;
    box-shadow: none;
    border: 1px solid #027fff;
}

div.ng-cloak{
    display: none;
}
div.Top{
    height: 50px;
}

div.content{
    background-color: #f4f5f5;
}

a {
    color: #027fff;
}

a:link {
    color: #027fff;
    text-decoration: none;
}

a:active: {
    color: #027fff;
}

a:visited {
    color: #027fff;
    text-decoration: none;
}

a:hover {
    color: #027fff;
    text-decoration: none;
}

div.Main {
    margin-left: 8%;
    width: 60%;
    /*height: 1024px;*/
    float: left;
}

div.RightBar {
    margin-right: 8%;
    width: 22%;
    margin-left: 2%;
    /*height: 1024px;*/
    /*background-color: red;*/
    float: left;
}

div.Tab ul li {
    float: left;
}


div.node ul li {
    margin: 1px;
    list-style: none;
    float: left;
}

div.node ul li button {
    border-radius: 14px;
    border-color: #027fff;
    color: black;
}

div.node ul {
    padding-left: 0px;
}

div.release ul li {
    color: #027fff;
    line-height: 30px;
    margin-left: 20px;
    list-style: none;
    float: left;
}

div.release ul {
    padding-left: 0px;
}


div.review ul li {
    list-style: none;
    float: right;
    padding-left: 10px;
}


div.editor {
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 2px;
}

div.posts-editor:focus {
    outline: none;
    box-shadow: none;
}

div.posts-editor {
    letter-spacing:1px;
    padding: 10px;
    font-size: 14px;
    font-family: Moncaco;
    min-height: 80px;
}

div.image {
    display: inline-block;
}

div.image img {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.posts-editor:empty:before {
    content: attr(placeholder);
    color: #bbb;
}


/*div.editor:hover {
    border: none;
    box-shadow: 0 0 0 1px #027fff;
}
*/
.delete {
    float: right;
    color: #fff;
}

.delete:hover{
    color: black;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: white;
    color: #027fff;
    border-radius: 0px;
    border-bottom: 1px solid #027fff;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}