<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.png">
    <title>YhACG</title>
    <script type="text/javascript" src="lib/angularjs/1.7.0/angular.min.js"></script>
    <script type="text/javascript" src="lib/angularjs/1.7.0/angular-cookies.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="lib/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="http://p192rb6nz.bkt.clouddn.com/bootstrap.min.css"> -->
    <!-- Custom styles for this template -->
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="lib/iconfont/iconfont.css">
</head>

<body ng-controller="indexCtrl">
    <div class="Top">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <div class="Wrapper">
        <div class="Tab">
            <div class="container-fluid" style="height: 50px;">
                <div class="container">
                </div>
            </div>
        </div>
        <div class="content container-fluid jumbotron">
            <div class="container">
                <div class="LeftBar"></div>
                <div class="Main">
                    <div class="release">
                        <div class="panel panel-default" style="border: 0px;">
                            <div class="panel-body">
                                <div class="editor">
                                    <div class="posts-editor" ng-blur="edblur()" ng-focus="edfocus()" contenteditable placeholder="说点什么吧..." ng-model="quiet.posts"></div> 
                                    <div id="holder">
                                        <div ng-repeat="file in quiet.files" ng-cloak class="image ng-cloak">
                                            <div class="whole">
                                                <a title="删除" href="" ng-click="quiet.files.splice($index,1)">
                                                    <i class="iconfont delete">&#xe633;</i>
                                                </a>
                                            </div>
                                            <img ng-src="{{file.objectURL}}" style="max-height:100px;max-width: 100px ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="padding-top: 0px;">
                                <div class="left-comment" style="width: 85.5%;float: left;color: #027fff">
                                    <ul>
                                        <li style="margin-left: 0px;"><a href=""><i class="iconfont">&#xe61e;</i>表情</a></li>
                                        <p hidden="hidden"><input type="file" ng-model="quiet.wx" name="fileChooser" multiple="multiple" accept="image/*" id="fileChooser"></p>
                                        <li><a href="" ng-click="upload()"><i class="iconfont">&#xe631;</i>图片</a></li>
                                        <li><a href=""><i class="iconfont">&#xe603;</i>链接</a></li>
                                        <li><a href=""><i class="iconfont">#</i>话题</a></li>
                                    </ul>
                                </div>
                                <div class="right-comment" style="width: 14.5%;float: left;">
                                    <ul>
                                        <li>
                                            <!-- Ctrl or ⌘ + Enter -->
                                        </li>
                                        <li>
                                            <button type="submit" class="btn btn-default release-btn" style="width:74px;border:0px;color: white;background-color: #027fff" ng-click="release(text)">发布</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel" style="border: 0px;">
                          <uib-tabset type="pills">
                            <uib-tab heading="推荐" classes="btn-sm">
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉。

已而遂晴，故作此词。 莫听穿林打叶声，何妨吟啸且徐行。

竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。 

料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴。
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="我的" classes="btn-sm">
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body">
                                        <div class="postsLeft" style="width: 10%;float: left;">
                                            <img src='img/head.png' style='width: 50px;height: 50px; margin-right:5px;' ' alt='... '' class='img-circle'>
                                        </div>
                                        <div class="postsCenter" style="width: 85%;float: left;line-height: 25px;">
                                            <span style="color:#027fff;display: block;">椎名真白</span>
                                            <span style="color:#b8c1cc;">2018-08-17 18:23:30</span>
                                        </div>
                                        <div class="postsRight" style="width: 5%;float: left; color: #b8c1cc">
                                            <i class="iconfont" style="font-size: 26px;">&#xe637;</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="margin-left: 10%;">
                                        <div class="posts" style="border: 0px; background-color: white;font-size: 15px;font-family: Monaco;white-space: pre-wrap;color: #17181a;">拥抱着你的离去
 
数着一行行的泪滴
 
枕着梦这回忆不忍睡
 
寂寞夜只剩我的狼狈
 
谎言天花乱坠
 
目睹你和他的暧昧
 
我的心在慢慢枯萎
悄悄地碎
 
如果 亲爱的心痛
不爱的保重
难爱的却成空
让我再一次感受你的温柔
 
如果他更适合你依偎
悲伤该如何全身而退
 
爱情已经已无所谓
 
谎言天花乱坠
 
目睹你和他的暧昧
 
我的心在慢慢枯萎
悄悄地碎
 
如果 亲爱的心痛
不爱的保重
难爱的却成空
让我再一次感受你的温柔
 
如果他更适合你依偎
悲伤该如何全身而退
 
爱情已经已无所谓
 
如果 亲爱的心痛
不爱的保重
难爱的却成空
让我再一次感受你的温柔
 
如果他更适合你依偎
悲伤该如何全身而退
 
你的干脆我没防备
如果他更适合你依偎
悲伤该如何全身而退
 
爱情已经已无所谓
                                        </div>
                                        <div class="review text-right">
                                            <ul>
                                                <li><a href=""><i class="iconfont">&#xe627;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe662;</i></a></li>
                                                <li><a href=""><i class="iconfont">&#xe618;</i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-bottom: 7px;border: 0px; border-radius: 0px;">
                                    <div class="panel-body text-center" style="color: #eee;">

                                    </div>
                                </div>
                            </uib-tab>
                          </uib-tabset>
                    </div>
                </div>
                <div class="RightBar">
                    <div class="box ng-cloak" ng-cloak>
                        <div class="panel panel-default" style="border: 0px;">
                            <div class="panel-heading" style="color:white; background-color: #027fff">
                                <strong>YhACG</strong>
                                <br>
                                <div class="spe" style="margin: 1%;"></div>
                                <span class="profile">是一个关于分享和探索的地方</span>
                            </div>
                            <div ng-show="{{!status}}" class="panel-body text-center">
                                <button type="button" style="color: white;background-color: #027fff;border: 0px;" ng-click="register()" class="btn btn-default btn-sm">现在注册</button>
                                <div class="spe" style="margin: 7%;"></div>
                                <span>已注册用户请 <a href="" style="box-shadow: none; outline: none;" ng-click="login()">登录</a></span>
                            </div>
                            <div ng-show="{{status}}" class="panel-body text-center">
                                <a title="退出" href="" ng-click="logout()">
                                    <i class="iconfont logout">&#xe633;</i>
                                </a>
                                <img ng-src='{{user.headPortrait}}' style='width: 90px;height: 90px; margin-right:5px;' ' alt='... '' class='img-circle'>
                            </div>

                        </div>
                    </div>
                    <div class="box">
                        <div class="panel panel-default" style="border: 0px;">
                            <div class="panel-heading" style="color:white; background-color: #027fff">
                                <span class="profile">今日热议帖子</span>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #ddd;">
                                <a href="" style="color: black;">明天你们送另一半什么礼物</a>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #ddd;">
                                <a href="" style="color: black;">明天你们送另一半什么礼物</a>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #ddd;">
                                <a href="" style="color: black;">明天你们送另一半什么礼物</a>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #ddd;">
                                <a href="" style="color: black;">明天你们送另一半什么礼物</a>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #ddd;">
                                <a href="" style="color: black;">明天你们送另一半什么礼物</a>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #ddd;">
                                <a href="" style="color: black;">明天你们送另一半什么礼物</a>
                            </div>
                            <div class="panel-body" style="border-bottom:1px solid #ddd;">
                                <a href="" style="color: black;">明天你们送另一半什么礼物</a>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="panel panel-default" style="border: 0px;">
                            <div class="node">
                                <div class="panel-heading" style="background-color: white">
                                    <span class="profile">最热节点</span>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> Java</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> 问与答</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> 酷工作</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> 分享发现</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> 程序员</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> macOS</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> 分享创造</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> Apple</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> 职场话题</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> 求职</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default btn-sm">
                                                </span> Linux</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Bottom">
        <h1 style="text-align: center;">底部</h1>
    </div>
    <script type="text/javascript" src="lib/angular-ui-router/angular-ui-router.js"></script>
    <script type="text/javascript" src="lib/angularjs/1.7.0/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular-bootstrap/2.5.0/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script type="text/javascript" src="lib/jquery/1.12.4/jquery.min.js"></script>
    <script>
    window.jQuery
    </script>
    <script>
    $(function() {
        $("[data-toggle='popover']").popover();
    });
    </script>
    <script type="text/javascript" src="lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/quiet.directive.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script>
    angular.bootstrap(document, ['app']);
    </script>
        }
</body>

</html>